#articleDiv {
    overflow: hidden;
}

#artLeftDiv {
    width: 25%;
    margin-left: 15px;
    float: left;
}

#artRightDiv {
    float: left;
}
.port-img {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
}

#port-img1 {
    background-image: url("../images/port1.jpeg");
}

#port-img2 {
    background-image: url("../images/port2.jpeg");
}

#port-img3 {
    background-image: url("../images/port3.jpeg");
}

#port-img4 {
    background-image: url("../images/port4.jpeg");
}

#port-img5 {
    background-image: url("../images/port5.jpeg");
}

.port-img-cap {
    background-color: #2a2a2a;
    opacity: 0.9;
    position: absolute;
    width: 200px;
    height: 50px;
    margin-top: 140px;
    padding-top: 20px;
    color: #ccc;
}

/* Media for screen size 768px */
@media screen and (max-width: 768px) {
    /* main body wrapper's width */
    #artLeftDiv {
        float: none;
        width: 100%;
    }
    
    #artRightDiv {
        float: none;
        width: 100%;
        margin-left: 15px;
    }

}

/* Media for screen size 768px */
@media screen and (max-width: 630px) {
    /* main body wrapper's width */

}

/* Media for screen size 768px */
@media screen and (max-width: 500px) {
    /* main body wrapper's width */

}