/* GLOBAL TAGS */

html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  body {
    background-color: #E7E7E7;
    font-family: 'Open Sans', sans-serif;
    color: #8A8A8A;
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

h1 {
    color: #4FA09B;
    font-size: 36px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    padding-bottom: 15px;
    color: #4FA09B;
    font-weight: 400;
}

p {
    margin-top: 15px;
    line-height: 1.2;
}

/* CONTAINERS */
#headerWrap {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px #8A8A8A;
}

#header {
    width: 980px;
    margin: auto;
    background-color: #FFFFFF;
}

#myName {
    width: 300px;
    padding: 14px 0px;
    text-align: center;
    font-size: 30px;
    margin: auto;
    background-color: #4FA09B;
    color: white;
    float: left;
}

#myNameList {
    float: left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: #8F90A0;
    text-align: center;
    padding: 21px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #4FA09B;
    color: #FFFFFF;
}

#mainBody {
    width: 960px;
    margin: auto;
    margin-top: 50px;
    padding: 35px 20px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

#titleDiv {

}

#articleDiv {

}


#myImage {
    float: left;
    margin: 5px 15px 5px 5px;
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 50px;
    background-color: #5B5B5B;
    border-top: 5px solid #4FA09B;
}

#footerDiv {
    position: relative;
    width: 70%;
    margin: auto;
    background-color: #5B5B5B;
    text-align: center;
    padding: 15px;
    color: #FFFFFF;
}

/* Media for screen size 980px */
@media screen and (max-width: 980px) {
    /* main body wrapper's width */
    #header {
        width: 890px;
        
    }

    #mainBody {
        width: 650px;
        margin-left: 36px;
    }
}

/* Media for screen size 768px */
@media screen and (max-width: 768px) {
    /* main body wrapper's width */
    #header {
        width: 100%;
    }
    #mainBody {
        width: 550px;
        margin: auto;
        margin-top: 50px;
        padding: 35px 20px;

    }
    #myName {
        float: none;
        width: 100%;
    }
    #navList {
        width: 280px;
        margin: auto;
    }
    li a {
        margin: 0;
    }
}

/* Media for screen size 640px */
@media screen and (max-width: 640px) {
    /* main body wrapper's width */
    #header {
        width: 100%;
    }
    #mainBody {
        width: 350px;
        margin: auto;
        margin-top: 50px;
        padding: 35px 20px;

    }
    #myName {
        float: none;
        width: 100%;
    }
    #navList {
        width: 280px;
        margin: auto;
    }
    li a {
        margin: 0;
    }
}

